@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat Medium'
}

main {
    width: 100vw
}

.container,
.feedbackContainer,
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

fieldset, .feedbackContainer {
    border: rgb(192,192,192,0.1) 1px solid;
    height: 460px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.12)
}


input[type = "text"],
input[type = "password"],
input[type = "tel"],
input[type = "email"],
input[type = "url"] {
    width: 340px;
    margin-top: 8px;
    padding: 2px 6px;
    border: none;
    background-color: #f7f7f7;
    height: 40px;
    outline-color: #2196f3;
    font-size: 1rem
}

button:first-of-type, button {
    float: right;
    margin: 20px 42px 0px 0px;
    padding: 10px 20px;
    border: 1px solid #2196f3
}

button {
    background-color: white;
    color: #2196f3
}

button:first-of-type {
    float: right;
    background-color: #2196f3;
    color: white
}

.clear {
    clear: both
}

button:hover {
    background-color: #2196f3;
    color: white;
    cursor: pointer
}

button {
    margin-right: 5px
}

.container div {
    margin: 10px 40px;
    position: relative
}

img {
    width: 100px;
    height: 100px;
    margin: auto;
    display: block
}

.signup-container div:first-of-type {   
    width: 340px;
    margin-top: 50px;
}

label {
    position: absolute;
    top: 56%;
    left: 6px;
    color: #505050
}

.focused-field {
    animation-name: gainFocus;
    animation-fill-mode: forwards;
    animation-duration: 0.15s;
    animation-timing-function: ease-out
}

@keyframes gainFocus {
    0% {
        top: 56%;
        left: 6px;
        color: #505050;
        font-size: 1rem
    }
    100% {
        top: 0%;
        left: 0px;
        color: #2196f3;
        font-size: 0.9rem
    }
}

.unfocused-field {
    animation-name: loseFocus;
    animation-fill-mode: forwards;
    animation-duration: 0.15s;
    animation-timing-function: ease-out
}

@keyframes loseFocus {
    0% {
        top: 0%;
        left: 0px;
        color: #2196f3;
        font-size: 0.9rem
    }
    100% {
        top: 56%;
        left: 6px;
        color: #505050;
        font-size: 1rem
    }
}

.initial-focused-field {
    top: 0%;
    left: 0px;
    color: #2196f3;
    font-size: 0.9rem
}

.initial-unfocused-field {
    top: 56%;
    left: 6px;
    color: #505050;
    font-size: 1rem
}

.feedbackContainer {
    height: 300px;
    width: 300px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: none 
}

.feedbackIcon {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

.failure .feedbackIcon {
    background-image: url('../img/failure.svg');
}

.feedbackMessage {
    text-align: center;
    line-height: 1.6rem
}